#bg_login{
    background: url(../img/fondologin.png)no-repeat;
    background-size: cover;
    position: fixed; 
    top:0; 
    left:0;
    width: 100%;
}
#bg_login.bgwidth{ width: 100%; }
#bg_login.bgheight{ height: 100%; }

.btn_login{
    background: orange;
    margin: 1%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 15%;
    border-width: 100%;
}

#bg_menu{
    background: url(../img/fondo_main_menu.jpg)no-repeat;
    background-size: cover;
    position: fixed; 
    top:0; 
    left:0;
    width: 100%;
    height: 100%;
}

#bg_calendar{
    background: url(../img/fondo_calendar.png)no-repeat;
    background-size: cover;
    position: fixed; 
    top:0; 
    left:0;
    width: 100%;
    
    
}


.btn_reg{ 
    background-color: #FF8300 !important; 
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
    width: 75%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn_reg:hover{
    background-color: #FF8300
}
.btn_reg:active{
    background-color: #FF8300;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
    
}

