#bg_login{
    background: url(../img/fondologin.png)no-repeat;
    background-size: cover;
    position: fixed; 
    top:0; 
    left:0;
    width: 100%;
}
#bg_login.bgwidth{ width: 100%; }
#bg_login.bgheight{ height: 100%; }

.btn_login{
    background: orange;
    margin: 1%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 15%;
    border-width: 100%;
}
ul  {
    list-style-type: none;
    margin: 0px;
    padding: 16px;
    text-align: center;
    overflow: hidden;
}
li {
    display: block;
}
#background{ 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100% !important; 
    height: 100% !important; 
    background: url(../img/fondo_menu.png) no-repeat center center fixed !important; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    z-index: -1; 
} 
.ui-page{ 
    background:none; 
}
