#bg_login{
    background: url(img/fondologin.png)no-repeat;
    background-size: cover;
    position: fixed; 
    top:0; 
    left:0;
    width: 100%;
}
#bg_login.bgwidth{ width: 100%; }
#bg_login.bgheight{ height: 100%; }