<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
       <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' yourhost.com ws://localhost:35729 data: gap: https://ssl.gstatic.com; style-src 'self' 'unsafe-inline'; media-src *;script-src 'self' localhost:35729 'unsafe-eval' 'unsafe-inline';">-->
        
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        
        <link rel="stylesheet" type="text/css" href="js/jquerymobile/jquery.mobile-1.4.5.min.css" />
        <link rel="stylesheet" href="css/clndr.css">
        <link rel="stylesheet" href="css/rss.css">
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        
        <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="js/jquerymobile/jquery.mobile-1.4.5.min.js"></script>
        <script type="text/javascript" src="js/Underscore.js"></script>
        <script type="text/javascript" src="js/moment.js"></script>
        <script type="text/javascript" src="js/clndr.min.js"></script>
        <script type="text/javascript" src="js/calendar.js"></script>
        
    </head>
    <body>
        
        <div data-role="page" id="login"> <!-- pagina de login -->
			<div role="main" class="ui-content jqm-content jqm-fullwidth">
                <div id="bg_login">
                    <img class="displayed" src="img/LOGO_a.png" alt="Mountain View" style="width:75px;height:75px;position:center">
                    <br>
                    <br>
                        <label>Nombre Usuario:</label><input type="text" id="Nombre"/>
                        <label>Contraseña:</label><input type="password" id="Password"/><br>
                    <a href="#" class="btn_login" id="btn_entrar">Entrar</a><br>
                    <a href="#MainMenu" class="btn_login" >Sin Registro</a><br><br><br>
                    <a href="#registrarse" class="btn_login">Registrarse</a>
                </div>
			</div>
        </div> <!-- end pagina login -->
        

        <div data-role="page" data-theme="a" id="MainMenu"> <!-- Pagina Menu -->
            <div data-role="header" id="bg_menu">
                <a href="#login" data-role="button" data-theme="a">Login</a>
                
            </div>
            <div data-role="main" class="ui-content">
                <p> Main Area</p>
               
                
            </div>
                
            <div data-role="footer" data-position="fixed" class="ui-content">
                <div data-type="horizontal" align="center" class="ui-grid-b">
                    
                        <div class="ui-block-a"><a href="#calendar" class="ui-btn-inline" ><img src="img/boton_cursos.png"  style="width:75px;height:75px;padding: 2px"><label style="color: #EA7412;"> CURSOS </label>
                        </a></div>
                        
                        <div class="ui-block-b"><a href="#trabajo" class="ui-btn-inline"><img src="img/boton_trabajo1.png" style="width:75px;height:75px; padding: 2px"><label style="color: #EA7412;"> TRABAJO </label>
                        </a></div>
                        
                        <div class="ui-block-c"><a href="#cuenta" class="ui-btn-inline"><img src="img/boton_usuario1.png" style="width:75px;height:75px; padding: 2px"><label style="color: #EA7412;"> CUENTA </label>   
                        </a></div>
                </div>
        </div> <!--end body -->
    </div> <!--end page -->

        
        
        
        <div data-role="page" data-theme="a" id="registrarse"><!-- Pagina Registrarse -->
            <div data-role="header" style="display" id="bg_reg_head"><img class="displayed" src="img/LOGO_a.png" alt="Mountain View" style="width:75px;height:75px;"/>
                <a href="#login" data-role="button" data-theme="a" class="ui-btn ui-btn-inline-left">Atras</a>
                <a href="#" data-icon="gear" class="ui-btn-right">CAS</a>
            </div>
            
            <h1> DATOS BASICOS </h1>
            <label for="textinput-hide" class="ui-hidden-accessible">Nombre</label>
            <input type="text" name="textinput-hide" id="textinput-hide" placeholder="* Nombre" value=""/>

            <label for="textinput-hide" class="ui-hidden-accessible">Primer Apellido</label>
            <input type="text" name="textinput-hide" id="textinput-hide" placeholder="* Primer Apellido" value=""/>

            <label for="textinput-hide" class="ui-hidden-accessible">Segundo Apellido</label>
            <input type="text" name="textinput-hide" id="textinput-hide" placeholder="* Segundo Apellido" value=""/>
            
            <select name="select-native-1" id="select-native-1">
                <option value="1">*Tipo de Documento</option>
                <option value="1">DNI/NIE</option>
                <option value="2">NIF</option>
            </select>
            
            <label for="textinput-hide" class="ui-hidden-accessible">Documento de Identidad</label>
            <input type="text" name="textinput-hide" id="textinput-hide" placeholder="* Documento de Identidad" value=""/>
            
            <label>
                <p1> * Eres </p1>
                <a href="#Hombre" class="ui-btn ui-btn-inline">Hombre</a>
                <a href="#Mujer" class="ui-btn ui-btn-inline">Mujer</a>
            </label>
            
            <label for="date-2">Fecha de Nacimiento</label>
            <input type="date" data-clear-btn="true" name="date-2" id="date-2" value=""/>
            
            <select name="seleccionar estudios" id="select-estudios">
                <option value="1">*Nivel de Estudios</option>
                <option value="1">BACHILLERATO</option>
                <option value="2">BUP</option>
                <option value="2">...</option>
            </select>
            
            <label for="textinput-hide" class="ui-hidden-accessible">Situacion laboral</label>
            <input type="text" name="textinput-hide" id="textinput-hide" placeholder="* Situación laboral" value=""/>
            
            <label for="textinput-hide" class="ui-hidden-accessible">Nacionalidad</label>
            <input type="text" name="textinput-hide" id="textinput-hide" placeholder="* Nacionalidad" value=""/>
            
            <label for="textinput-hide" class="ui-hidden-accessible">País</label>
            <input type="text" name="textinput-hide" id="textinput-hide" placeholder="* País" value=""/>
            <h1> DATOS DE CONTACTO </h1>
            
            <form>
                <label for="textinput-hide" class="ui-hidden-accessible">Mail</label>
                <input type="text" data-clear-btn="true" name="textinput-hide" id="textinput-hide" placeholder="* mail@ejemplo.com" value=""/>
            </form>
            <form>
                <label for="textinput-hide" class="ui-hidden-accessible">Numero de telefono</label>
                <input type="text" data-clear-btn="true" name="textinput-hide" id="textinput-hide" placeholder="* Telefono" value=""/>
            </form>
            
            <h1> DATOS DE ACCESO Y NOTA LEGAL </h1> 
            
            <label for="textinput-hide" class="ui-hidden-accessible">Password</label>
            <input type="text" data-clear-btn="true" name="textinput-hide" id="textinput-hide" placeholder="* Clave de Accesso" value=""/>
            
            <label for="textinput-hide" class="ui-hidden-accessible">Confirmar password</label>
            <input type="text" data-clear-btn="true" name="textinput-hide" id="textinput-hide1" placeholder="* Confirmar Clave de Accesso" value=""/>
            
            <label>
                <input type="checkbox" name="checkbox-0 "/>Doy mi consentimiento a la nota legal
            </label>
            
            <a href="#" class="btn_reg ui-btn ui-corner-all">Registrarme</a>
        </div><!-- Pagina Registrarse -->
            
        <div data-role="page" data-theme="a" id="calendar"> <!-- pagina Calendario -->
            
            <div data-role="header" id="bg_calendar">
                <div data-role="header">
                <a href="#MainMenu" data-role="button" data-theme="a">Atras</a>    
                <a href="#capsulas" class="ui-btn-right" id="btn-next" onclick="llamadapag();">Next</a>
                </div>
            </div>
            <div data-role="main" class="ui-content">
                <div class="container">
                    <div id="custom-classes" class="cal1"></div> 
             <script type="text/template" id="clndr-template">
        <div class="clndr-controls">
            <div class="clndr-previous-button">&lsaquo;</div>
            <div class="month"><%= month %></div>
            <div class="clndr-next-button">&rsaquo;</div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
            <% _.each(daysOfTheWeek, function (day) { %>
                <div class="header-day"><%= day %></div>
            <% }); %>
                <div class="days">
                <% _.each(days, function (day) { %>
                    <div class="<%= day.classes %>"><%= day.day %></div>
                <% }); %>
                </div>
            </div>
        </div>
        <div class="clndr-today-button">Today</div>
    </script>

    <script type="text/template" id="clndr-multimonth-template">
        <div class="multi-month-controls">
            <div class="clndr-previous-year-button quarter-button">&laquo;</div><!--
            --><div class="clndr-previous-button quarter-button">&lsaquo;</div><!--
            --><div class="clndr-next-button quarter-button right-align">&rsaquo;</div><!--
            --><div class="clndr-next-year-button quarter-button right-align">&raquo;</div>
        </div>
        <% _.each(months, function (oneMonth) { %>
        <div class="clndr-controls">
            <div class="month"><%= oneMonth.month.format('MMMM YYYY') %></div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
            <% _.each(daysOfTheWeek, function (day) { %>
                <div class="header-day"><%= day %></div>
            <% }); %>
                <div class="days">
                <% _.each(oneMonth.days, function (day) { %>
                    <div class="<%= day.classes %>"><%= day.day %></div>
                <% }); %>
                </div>
            </div>
        </div>
        <div class="clndr-today-button">Today</div>
        <% }); %>
    </script>

    <script type="text/template" id="clndr-oneweek-template">
        <div class="clndr-controls">
            <div class="clndr-previous-button">&lsaquo;</div>
            <div class="month">
                <%= intervalStart.format('MM/DD') %> - <%= intervalEnd.format('MM/DD') %>
            </div>
            <div class="clndr-next-button">&rsaquo;</div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
            <% _.each(daysOfTheWeek, function (day) { %>
                <div class="header-day"><%= day %></div>
            <% }); %>
                <div class="days">
                <% _.each(days, function (day) { %>
                    <div class="<%= day.classes %>"><%= day.day %></div>
                <% }); %>
                </div>
            </div>
        </div>
    </script>
                </div>
            </div>  
        </div> <!-- end calendario page-->
        
        <div data-role="page" data-theme="a" id="capsulas"> <!-- pagina Cursos, capsulas -->
            <div data-role="header" style="display" id="bg_reg_head"><img class="displayed" src="img/LOGO_a.png" alt="Mountain View" style="width:75px;height:75px;">
                <a href="#calendar" data-role="button" data-theme="a" class="ui-btn ui-btn-inline-left">Atras</a>
            </div>
            
            <div data-role="main" class="ui-content" id="cap_content">
                
                <p>Cargando...</p>
                
                
            </div>
        </div> <!-- end page-->
        
        
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/background-adaptable.js"></script>
        <script type="text/javascript" src="js/rss.js"></script>
        
        
    </body>
</html>
